{% extends "base.html" %}

{% block body %}
<section class="section-conten padding-y bg">
<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> Profile </a>
			<a class="list-group-item" href="#"> Transactions </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
</div> 
</div>

</section>
{% endblock%}